.menu li a {
    color: white;
}

.card img {
    object-fit: contain;
    height: 80px;
    width: 80px;
}

.tdRight {
    text-align: right !important;
}

.tdLeft {
    text-align: left !important;
}

#tbFiltros_length label {
    margin-bottom: 10px;
}